.SubWrapper
  = render partial: "posts/SubHeader"
  .Main-resistrations
    .Main-resistrations__title
      %h2 会員情報入力
    .Main-sessions__line
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'Main-sessions__line__btn Main-sessions__line__btn--google' do
        = icon("fab", "google", class: 'Main-sessions__line__btn--google__icon')
        Googleでログイン
      = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'Main-sessions__line__btn Main-sessions__line__btn--facebook' do
        = icon("fab", "facebook-square", class: 'Main-sessions__line__btn--facebook__icon')
        Facebookでログイン
      = link_to "#", class: 'Main-sessions__line__btn Main-sessions__line__btn--apple' do
        = icon("fab", "apple", class: 'Main-sessions__line__btn--apple__icon')
        Appleでログイン
    .Main-resistrations__contents
      .Main-resistrations__contents__list
        = form_for(@user, url: user_registration_path) do |f|
          = render "devise/shared/error_messages", resource: @user
          .field
            = f.label :ニックネーム, class:"field__name"
            %span.Required 必須
            %br/
            = f.text_field :nickname, autofocus: true, class:"field__box", placeholder: "例）フリマ太郎"
          .field
            = f.label :メールアドレス, class:"field__name"
            %span.Required 必須
            %br/
            = f.email_field :email,  autocomplete: "email", class:"field__box", placeholder: "例）PC・携帯どちらでも可"
          - if @sns
            = hidden_field_tag :sns_auth, true
          - else
            .field
              = f.label :パスワード, class:"field__name"
              %span.Required 必須
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} 文字以上)
              %br/
              = f.password_field :password, autocomplete: "new-password", class:"field__box", placeholder: "7文字以上の半角英数字"
            .field
              = f.label :パスワード（確認用）, class:"field__name"
              %span.Required 必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", class:"field__box", placeholder: "7文字以上の半角英数字（確認用）"
          .field
            = f.label :お名前（全角）, class:"field__name"
            %span.Required 必須
            .field-fullname
              %br/
              = f.text_field :first_name, class:"field__box furikana", placeholder: "例）山田"
              %br/
              = f.text_field :last_name, class:"field__box", placeholder: "例）彩"
          .field
            = f.label :お名前カナ（全角）, class:"field__name"
            %span.Required 必須
            .field-fullname
              %br/
              = f.text_field :first_name_kana, class:"field__box furikana", placeholder: "例）ヤマダ"
              %br/
              = f.text_field :last_name_kana, class:"field__box", placeholder: "例）アヤ"
          .field
            = f.label :生年月日, class:"field__name"
            %span.Required 必須
            .field-birthday
              %br/
              = f.select :birth_year, User.birth_years.keys, {include_blank: "--", selected:""}, {class:"select-year"}
              %span.Days 年
              %br/
              = f.select :birth_month, User.birth_months.keys, {include_blank: "--", selected:""},{class:"field__box"}
              %span.Days 月
              %br/
              = f.select :birth_day, User.birth_days.keys, {include_blank: "--", selected:""}, {class:"field__box"}
              %span.Days 日
          .field
            = f.label :電話番号, class:"field__name"
            %span.Any 任意
            %br/
            = f.password_field :phone_number, class:"field__box"                   
          .actions
            = f.submit "次へ進む", class:"actions__btn"
        /= render "devise/shared/links"
  = render partial: "posts/SubFooter"