-# - if current_user.already_liked?(@post)
-#   = link_to post_like_path(@post), method: :delete, remote: true do
-#     = icon('fas', 'thumbs-up', class: "favorite-icon-color", id: "color")
-# - else
-#   = link_to post_likes_path(@post), method: :post, remote: true do
-#     = icon('fas', 'thumbs-up', class: "favorite-icon-normal", id: "normal")
-# = @post.liked_users.count
.FavoriteRank
  .FavoriteRank__favorite
    %h2 
      いいね件数: 
      = @post.likes.count
      - if !user_signed_in?
        %h5 いいね機能使用には
        %h6 新規登録/ログインが必要です
      - elsif current_user.already_liked?(@post)
        = link_to post_like_path(@post), method: :delete, remote: true do
          = icon('fas', 'thumbs-up', class: "favorite-icon-color", id: "color")
        .FavoriteRank__favorite__message
          いいねを取り消す
      - else
        = link_to post_likes_path(@post), method: :post, remote: true do
          = icon('fas', 'thumbs-up', class: "favorite-icon-normal", id: "normal")
        .FavoriteRank__favorite__message
          いいね