= render partial: 'posts/Header'

- breadcrumb :mypage
= render "layouts/breadcrumbs"

.MyBox
  = render 'sidebar'
  .MyBox__BigContainer
    %a.MyBox__BigContainer__MyMainBox{href: "#"}
      .MyBox__BigContainer__MyMainBox__MyContainer
        %img.MyBox__BigContainer__MyMainBox__MyContainer__imgIcon{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
      %h2.MyBox__BigContainer__MyMainBox__MyContainer__Profile
        = @name
      .MyBox__BigContainer__MyMainBox__MyContainer__CountBox
        .MyBox__BigContainer__MyMainBox__MyContainer__CountBox__Evaluation
          評価
          %span.MyBox__BigContainer__MyMainBox__MyContainer__CountBox__Evaluation__EvaluationContainer
            0
        .MyBox__MyMainBox__BigContainer__MyContainer__CountBox__sell
          出品数
          %span.MyBox__BigContainer__MyMainBox__MyContainer__CountBox__sell__sellcontainer
            0
    .MyBox__BigContainer__PostBox
      .MyBox__BigContainer__PostBox__PostBoxCenter
        出品した商品
      .MyBox__BigContainer__PostBox__lists
        .MyBox__BigContainer__PostBox__lists__list
          
          .MyBox__BigContainer__PostBox__lists__list__img
            
            -# = link_to image_tag @posts.first.images.first.name.url

            -# = link_to image_tag("Product.jpg", class:"Products_img"), "/"
          .MyBox__BigContainer__PostBox__lists__list__body
            .MyBox__BigContainer__PostBox__lists__list__body__name
              product 1
            .MyBox__BigContainer__PostBox__lists__list__body__details
              .MyBox__BigContainer__PostBox__lists__list__body__details__money
                1000円
              .MyBox__BigContainer__PostBox__lists__list__body__details__tax
                (税金)

  
  

= render partial: 'posts/Footer'