= render partial: 'posts/Header'

.MyBox
  %nav.MyBox__side
    %ul.MyBox__side__Ul
      %li.MyBox__side__Ul__Il
        %a.MyBox__side__Ul__Il__Active{href: "#"}
          マイページ
          %i.MyBox__side__Ul__Il__Activepage
            
      %li.MyBox__side__Ul__Il
        %a.MyBox__side__Ul__Il__Active{href: "#"}
          出品する           
          %i.MyBox__side__Ul__Il__Activepage
            
      %li.MyBox__side__Ul__Il
        %a.MyBox__side__Ul__Il__Active{href: "#"}
          下書き一覧
          %i.MyBox__side__Ul__Il__Activepage
            
      %li.MyBox__side__Ul__Il
        %a.MyBox__side__Ul__Il__Active{href: "#"}
          購入した商品
          %i.MyBox__side__Ul__Il__Activepage
            
      %h3.MyBox__side__Ul__Setting
        設定
      %ul.MyBox__side__Ul
        %li.MyBox__side__Ul__Il
          %a.MyBox__side__Ul__Il__Active{href: "#"}
            支払い方法
            %i.MyBox__side__Ul__Il__Activepage
              
        %li.MyBox__side__Ul__Il
          .MyBox__side__Ul__Il__linkTo
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "MyBox__side__Ul__Il__linkTo__linkBtn"
        
        .MyBox__side__Ul__Il__Relative
          .MyBox__side__Ul__Il__Relative__Absolute1
            = icon('fas', 'chevron-down', class: "items-btn")
        .MyBox__side__Ul__Il__Relative
          .MyBox__side__Ul__Il__Relative__Absolute2
            = icon('fas', 'chevron-down', class: "items-btn")
        .MyBox__side__Ul__Il__Relative
          .MyBox__side__Ul__Il__Relative__Absolute3
            = icon('fas', 'chevron-down', class: "items-btn")
        .MyBox__side__Ul__Il__Relative
          .MyBox__side__Ul__Il__Relative__Absolute4
            = icon('fas', 'chevron-down', class: "items-btn")    
        .MyBox__side__Ul__Il__Relative
          .MyBox__side__Ul__Il__Relative__Absolute5
            = icon('fas', 'chevron-down', class: "items-btn")    
        .MyBox__side__Ul__Il__Relative
          .MyBox__side__Ul__Il__Relative__Absolute6
            = icon('fas', 'chevron-down', class: "items-btn")      


  .MyBox__BigContainer
    %a.MyBox__BigContainer__MyMainBox{href: "#"}

      .MyBox__BigContainer__MyMainBox__MyContainer
        %img.MyBox__BigContainer__MyMainBox__MyContainer__imgIcon{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
      %h2.MyBox__BigContainer__MyMainBox__MyContainer__Profile
        名前
      .MyBox__BigContainer__MyMainBox__MyContainer__CountBox
        .MyBox__BigContainer__MyMainBox__MyContainer__CountBox__Evaluation
          評価
          %span.MyBox__BigContainer__MyMainBox__MyContainer__CountBox__Evaluation__EvaluationContainer
            0
        .MyBox__MyMainBox__BigContainer__MyContainer__CountBox__sell
          出品数
          %span.MyBox__BigContainer__MyMainBox__MyContainer__CountBox__sell__sellcontainer
            0
    .MyBox__BigContainer__PostBox
      .MyBox__BigContainer__PostBox__PostBoxCenter
        出品した商品
      .MyBox__BigContainer__PostBox__lists
        .MyBox__BigContainer__PostBox__lists__list
          .MyBox__BigContainer__PostBox__lists__list__img
            = link_to image_tag("Product.jpeg", class:"Products_img"), "/"
          .MyBox__BigContainer__PostBox__lists__list__body
            .MyBox__BigContainer__PostBox__lists__list__body__name
              product 1
            .MyBox__BigContainer__PostBox__lists__list__body__details
              .MyBox__BigContainer__PostBox__lists__list__body__details__money
                1000円
              .MyBox__BigContainer__PostBox__lists__list__body__details__tax
                (税金)
        .MyBox__BigContainer__PostBox__lists__list
          .MyBox__BigContainer__PostBox__lists__list__img
            = link_to image_tag("Product.jpeg", class:"Products_img"), "/"
          .MyBox__BigContainer__PostBox__lists__list__body
            .MyBox__BigContainer__PostBox__lists__list__body__name
              product 1
            .MyBox__BigContainer__PostBox__lists__list__body__details
              .MyBox__BigContainer__PostBox__lists__list__body__details__money
                1000円
              .MyBox__BigContainer__PostBox__lists__list__body__details__tax
                (税金)
        .MyBox__BigContainer__PostBox__lists__list
          .MyBox__BigContainer__PostBox__lists__list__img
            = link_to image_tag("Product.jpeg", class:"Products_img"), "/"
          .MyBox__BigContainer__PostBox__lists__list__body
            .MyBox__BigContainer__PostBox__lists__list__body__name
              product 1
            .MyBox__BigContainer__PostBox__lists__list__body__details
              .MyBox__BigContainer__PostBox__lists__list__body__details__money
                1000円
              .MyBox__BigContainer__PostBox__lists__list__body__details__tax
                (税金)
        .MyBox__BigContainer__PostBox__lists__list
          .MyBox__BigContainer__PostBox__lists__list__img
            = link_to image_tag("Product.jpeg", class:"Products_img"), "/"
          .MyBox__BigContainer__PostBox__lists__list__body
            .MyBox__BigContainer__PostBox__lists__list__body__name
              product 1
            .MyBox__BigContainer__PostBox__lists__list__body__details
              .MyBox__BigContainer__PostBox__lists__list__body__details__money
                1000円
              .MyBox__BigContainer__PostBox__lists__list__body__details__tax
                (税金)
        .MyBox__BigContainer__PostBox__lists__list
          .MyBox__BigContainer__PostBox__lists__list__img
            = link_to image_tag("Product.jpeg", class:"Products_img"), "/"
          .MyBox__BigContainer__PostBox__lists__list__body
            .MyBox__BigContainer__PostBox__lists__list__body__name
              product 1
            .MyBox__BigContainer__PostBox__lists__list__body__details
              .MyBox__BigContainer__PostBox__lists__list__body__details__money
                1000円
              .MyBox__BigContainer__PostBox__lists__list__body__details__tax
                (税金)



= render partial: 'posts/Footer'