.SubWrapper
  = render 'SubHeader'
  = form_with model: @post, local: true do |f|
    .Post-Main
      .Post-Main__images
        .Post-Main__images__messages
          %label.labelmessage 出品画像
          %span.spanmessage 必須
        %p.p1 最大5枚までアップロードできます
        -# %label{for: "post_images_attributes_0_name", class: "Post-Main__images__image"}
        .Post-Main__images__image
        #image-box
          #previews
            - if @post.persisted?
              - @post.images.each_with_index do |image, i|
                - if image.persisted?
                  %label.Previews-edit{ id:"post_images_attributes_#{i}", for: "post_images_attributes_#{i}_name"}
                    = image_tag image.name.url, data: { index: i }, width: "122", height: '122', class: "image-edit" 
                    .js-remove 削除
        .BOX
          = f.fields_for :images do |image|
            .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :name,  class:"js-file"
              -# %span.js-remove 
            - if image.object.persisted?
              = image.check_box :_destroy, data:{ index: image.index}, class: 'hidden-destroy'
              
        .Post-Main__images__icons
          .Post-Main__images__icons__icon
            = image_tag asset_path("icon_camera.png")
          .Post-Main__images__icons__text
            %p.p2 クリックしてファイルをアップロード
      .Post-Main__name-text
        .Post-Main__name-text__box1
          .Post-Main__name-text__box1__text
            %label.labelmessage 商品名
            %span.spanmessage 必須
          = f.text_field :name, placeholder: "40文字まで" , class:"Post-Main__name-text__box1__form"
        .Post-Main__name-text__box2
          .Post-Main__name-text__box2__text
            %label.labelmessage 商品の説明
            %span.spanmessage 必須
          = f.text_area :text, placeholder: "商品の説明(必須1,000文字以内)" , rows: "10", class:"Post-Main__name-text__box2__form"
          .Post-Main__name-text__box2__number
            0/1000
      .Post-Main__post-show
        %p.p3 商品の詳細
        .Post-Main__post-show__box1
          .Post-Main__post-show__box1__text
            %label.labelmessage カテゴリー
            %span.spanmessage 必須
          #category_field1
            = f.collection_select :category_id, Category.roots, :id, :name ,{prompt: "選択してください", selected:  @post.category.parent.parent_id}, {class: 'listing-select-wrapper--edit__parent--select', id: 'parent_category_edit', name: "" }
          #category_field2
            = f.collection_select :category_id, @post.category.parent.parent.children, :id, :name ,{prompt: "選択してください", selected: @post.category.parent_id}, {class: 'listing-select-wrapper--edit__child--select', id: 'child_category_edit', name: "" }
          #category_field3
            = f.collection_select :category_id, @post.category.parent.children, :id, :name ,{prompt: "選択してください", selected: @post.category.id}, {class: 'listing-select-wrapper--edit__grandchild--select', id: 'grandchild_category_edit', name: "product[category_id]" }
        .Post-Main__post-show__box2
          .Post-Main__post-show__box2__text
            %label.labelmessage ブランド
            %span.sub 任意
          = f.text_field :brand, placeholder: "例) シャネル" , class:"Post-Main__post-show__box2__form"
        .Post-Main__post-show__box3
          .Post-Main__post-show__box3__text
            %label.labelmessage 商品の状態
            %span.spanmessage 必須
          = f.select :condition, Post.conditions.keys, {}, {class: "Post-Main__post-show__box3__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
      .Post-Main__delivery
        %p.p3 配送について
        .Post-Main__delivery__box1
          .Post-Main__delivery__box1__text
            %label.labelmessage 配送料の負担
            %span.spanmessage 必須
          = f.select :burden, Post.burdens.keys, {}, {class: "Post-Main__delivery__box1__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
        .Post-Main__delivery__box2
          .Post-Main__delivery__box2__text
            %label.labelmessage 発送元の地域
            %span.spanmessage 必須
          = f.select :area, Post.areas.keys, {}, {class: "Post-Main__delivery__box2__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
        .Post-Main__delivery__box3
          .Post-Main__delivery__box3__text
            %label.labelmessage 発送までの日数
            %span.spanmessage 必須
          = f.select :day, Post.days.keys, {}, {class: "Post-Main__delivery__box3__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
      .Post-Main__price
        %p.p3 価格（¥300~9,999,999）
        .Post-Main__price__box1
          .Post-Main__price__box1__text
            %label.labelmessage 販売価格
            %span.spanmessage 必須
          .Post-Main__price__box1__forms
            %span.money ¥
            = f.text_field :price, placeholder: "0" , class:"Post-Main__price__box1__forms__form"
        .Post-Main__price__box2
          %p.p4 販売手数料（10%）
          %p.p5 ー
        .Post-Main__price__box3
          %p.p4 販売利益
          %p.p5 ー
      .Post-Main__btns
        = f.submit "変更する", class:"Post-Main__btns__btn1"
        = link_to("もどる", root_path, {class: "Post-Main__btns__btn3"})
  = render 'SubFooter'