=render 'Header'

.contents
  .contents__side
    = form_with model: @post, local: true do |f|
      .contents__side__box
        %p.p3 商品の詳細
        .Post-Main__post-show__box1
          .Post-Main__post-show__box1__text
            %label.labelmessage カテゴリー
            %span.spanmessage 必須
          #category_field
            -# = f.collection_select :category_id, @parents, :id, :name, { include_blank: "---", selected:"" }, id: "category_form", class: "Post-Main__post-show__box1__select"
            -# = icon('fas', 'chevron-down', class: "items-btn")
        .Post-Main__post-show__box2
          .Post-Main__post-show__box2__text
            %label.labelmessage ブランド
            %span.sub 任意
          = f.text_field :brand, placeholder: "例) シャネル" , class:"Post-Main__post-show__box2__form"
        .Post-Main__post-show__box3
          .Post-Main__post-show__box3__text
            %label.labelmessage 商品の状態
            %span.spanmessage 必須
          = f.select :condition, Post.conditions.keys,{include_blank: "選択してください", selected:""}, {class: "Post-Main__post-show__box3__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
      .Post-Main__delivery
        %p.p3 配送について
        .Post-Main__delivery__box1
          .Post-Main__delivery__box1__text
            %label.labelmessage 配送料の負担
            %span.spanmessage 必須
          = f.select :burden, Post.burdens.keys, {include_blank: "選択してください", selected:""}, {class: "Post-Main__delivery__box1__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
        .Post-Main__delivery__box2
          .Post-Main__delivery__box2__text
            %label.labelmessage 発送元の地域
            %span.spanmessage 必須
          = f.select :area, Post.areas.keys, {include_blank: "選択してください", selected:""}, {class: "Post-Main__delivery__box2__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
        .Post-Main__delivery__box3
          .Post-Main__delivery__box3__text
            %label.labelmessage 発送までの日数
            %span.spanmessage 必須
          = f.select :day, Post.days.keys, {include_blank: "選択してください", selected:""}, {class: "Post-Main__delivery__box3__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
      .Post-Main__price
        %p.p3 価格（¥300~9,999,999）
        .Post-Main__price__box1
          .Post-Main__price__box1__text
            %label.labelmessage 販売価格
            %span.spanmessage 必須
          .Post-Main__price__box1__forms
            %span.money ¥
            = f.text_field :price, placeholder: "0" , class:"Post-Main__price__box1__forms__form"







  .contents__posts
  - @results.each do |post|
    .contents__posts__lists
      = link_to post_path(post), class:"Main__pickupContainer__productbox__lists__list__url" do
        .contents__posts__lists__img
          - post.images.each do |image|
            = image_tag image.name.url, class:"Products_img"

        .contents__posts__lists__body
          .contents__posts__lists__body__name
          = post.name
          .contents__posts__lists__body__details
            .contents__posts__lists__body__details__money
              = post.price
              円
            .contents__posts__lists__body__details__tax
              (税金)

=render 'Footer'