=render 'Header'

.contents
  .contents__side
    = form_with model: @post, local: true do |f|
      .contents__side__box
        %p.p3 詳細検索
        .contents__side__box__box0
          .contents__side__box__box0__text
            %label.labelmessage キーワードから探す
            = f.text_field :brand , class:"contents__side__box__box0__form"
        .contents__side__box__box1
          .contents__side__box__box1__text
            %label.labelmessage カテゴリー
          #category_field
            -# = f.collection_select :category_id, @parents, :id, :name, { include_blank: "---", selected:"" }, id: "category_form", class: "contents__side__box__box1__select"
            -# = icon('fas', 'chevron-down', class: "items-btn")
        .contents__side__box__box2
          .contents__side__box__box2__text
            %label.labelmessage ブランド
          = f.text_field :brand, placeholder: "例) シャネル" , class:"contents__side__box__box2__form"
        .contents__side__box__box3
          .contents__side__box__box3__text
            %label.labelmessage 商品の状態
          = f.select :condition, Post.conditions.keys,{include_blank: "選択してください", selected:""}, {class: "contents__side__box__box3__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
      .contents__side__delivery
        .contents__side__delivery__box1
          .contents__side__delivery__box1__text
            %label.labelmessage 配送料の負担
          = f.select :burden, Post.burdens.keys, {include_blank: "選択してください", selected:""}, {class: "contents__side__delivery__box1__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
        .contents__side__delivery__box2
          .contents__side__delivery__box2__text
            %label.labelmessage 販売状況
          = f.select :day, Post.days.keys, {include_blank: "選択してください", selected:""}, {class: "contents__side__delivery__box2__select"}
          = icon('fas', 'chevron-down', class: "items-btn")
      .contents__side__price
        .contents__side__price__box1
          .contents__side__price__box1__text
            %p.labelmessage 販売価格
          .contents__side__price__box1__forms
            %span.money ¥
            = f.text_field :price, placeholder: "0" , class:"Post-Main__price__box1__forms__form"
      .contents__side__search
        = search_form_for @search,url: search_posts_path do |search|
          .contents__side__search__btns
            = search.submit "完了", class:"contents__side__search__btns__btn1"







  .contents__posts
  - @results.each do |post|
    .contents__posts__lists
      = link_to post_path(post), class:"Main__pickupContainer__productbox__lists__list__url" do
        .contents__posts__lists__img
          - post.images.each do |image|
            = image_tag image.name.url, class:"Products_img"

        .contents__posts__lists__body
          .contents__posts__lists__body__name
          = post.name
          .contents__posts__lists__body__details
            .contents__posts__lists__body__details__money
              = post.price
              円
            .contents__posts__lists__body__details__tax
              (税金)

=render 'Footer'