= render 'Header'

- breadcrumb :postshow
= render "layouts/breadcrumbs"

.Show-Main 
  .Show-Main__box
    .Show-Main__box__left
    .Show-Main__box__right
      .Show-Main__box__right__content
        .Show-Main__box__right__content__itemBox
          .Show-Main__box__right__content__itemBox__name
            = @post.name
          .Show-Main__box__right__content__itemBox__body        
            %ul.Show-Main__box__right__content__itemBox__body__lists        
              %li.Show-Main__box__right__content__itemBox__body__lists__image 
                = image_tag @images[0].name.url,class:"Main_img"                 
                %ul.Show-Main__box__right__content__itemBox__body__lists__list
                  - @images.each do |images|
                    %li.Show-Main__box__right__content__itemBox__body__lists__list__img
                      = image_tag images.name.url,class:"Sub_img"

              .Show-Main__box__right__content__itemBox__price
                .Show-Main__box__right__content__itemBox__price__name
                  = @post.price
                .Show-Main__box__right__content__itemBox__price__detail
                  .Show-Main__box__right__content__itemBox__price__detail__name
                    %p (税込)
                  .Show-Main__box__right__content__itemBox__price__detail__name
                    %p 送料込み
                    
              .Show-Main__box__right__content__itemBox__detail
                = @post.text
              .Show-Main__box__right__content__itemBox__buy
                - if user_signed_in? && current_user.card.present? && current_user.id != @post.user_id && !@post.buyer_id.present? 
                  %p= link_to '購入画面に進む',post_buyers_path(@post),class: "buy__url"

                -elsif user_signed_in? && current_user.card.blank? && current_user.id != @post.user_id
                  %p *クレジットカードが登録出来ていません*
                -else 
                  -if @post.buyer_id.present? 
                    .items-box_photo__buy
                      .items-box_photo__buy__inner
                        SOLD
                  - elsif user_signed_in?  && current_user.id == @post.user_id 
                           
                  -else
                    %p 購入にはログインとカード登録が必要です。


              .Show-Main__box__right__content__itemBox__Edit
                - if user_signed_in? && current_user.id == @post.user_id && !@post.buyer_id.present? 
                  .Show-Main__box__right__content__itemBox__Edit__edit
                    %p= link_to '商品の編集', edit_post_path, method: :get, class: "buy__url"
                  .Show-Main__box__right__content__itemBox__Edit__delete
                    %p= link_to 'この商品を削除する', post_path, method: :delete, class: "delete__url"

              .Show-Main__box__right__content__itemBox__tableBox
                %table{border: 1, width: "100%",class:"table"} 
                  .Show-Main__box__right__content__itemBox__tableBox__tbody
                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__name
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__name__th 出品者
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__name__td 
                        = @user.nickname

                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__category
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__category__th カテゴリー
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__category__td 
                        = @category.parent.parent.name
                        %br
                        = @category.parent.name
                        %br
                        = @category.name

                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__brand
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__brand__th ブランド
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__brand__td 
                        = @post.brand

                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__condition
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__condition__th 商品の状態
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__condition__td 
                        = @post.condition

                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__burden
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__burden__th 配送料の負担
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__burden__td 
                        = @post.burden

                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__area
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__area__th 発送元の地域
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__area__td 
                        %p= link_to @post.area, "#", class: "Link__url" 

                    %tr.Show-Main__box__right__content__itemBox__tableBox__tbody__day
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__day__th 発送日の目安
                      %th.Show-Main__box__right__content__itemBox__tableBox__tbody__day__td 
                        = @post.day

          .Show-Main__box__right__links
          %ul.Show-Main__box__right__links
            = link_to "#",class:"Link__url" do
              %li.Show-Main__box__right__links__beforeLink
                .Show-Main__box__right__links__beforeLink__img
                  = icon('fas','angle-left')
                .Show-Main__box__right__links__beforeLink__text
                  %p 前の商品
            = link_to "#",class:"Link__url" do
              %li.Show-Main__box__right__links__afterLink
                .Show-Main__box__right__links__afterLink__img
                  = icon('fas','angle-right')
                .Show-Main__box__right__links__afterLink__text
                  %p 後ろの商品
        



        
      .Show-Main__box__right__content__CommentContainer
        .Show-Main__box__right__content__CommentContainer__CommentBox1
          %h4 ↓お客様さからコメント↓
        .Show-Main__box__right__content__CommentContainer__CommentBox__InCommentBox
          - @comments.each do |comment|
            .Show-Main__box__right__content__CommentContainer__CommentBox__InCommentBox__InComment
              .Show-Main__box__right__content__CommentContainer__CommentBox__InCommentBox__InComment__CommentsBoxes
                %img.Show-Main__box__right__content__CommentContainer__CommentBox__InCommentBox__imgIcon{alt: "", height: "40", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "40"}/
                %br
                = link_to comment.user.nickname, "/users/#{comment.user_id}"
                
              .Show-Main__box__right__content__CommentContainer__CommentBox__InCommentBox__InComment__InCommentUser
                = comment.content
          
          .Show-Main__box__right__content__CommentContainer__CommentBox__CommentText
          .Show-Main__box__right__content__CommentContainer__CommentBox__CommentName  
            .Show-Main__box__right__content__CommentContainer__CommentBox__CommentName__IfCurrentUser
              - if current_user
                = form_with(model: [@post, @comment], local: true) do |form|
                  = form.text_area :content, placeholder: "入力してください", rows: "2", class:"Show-Main__box__right__content__CommentContainer__CommentBox__IfCurrentUser__UserText"
                  = form.submit "送信", class:"Show-Main__box__right__content__CommentContainer__CommentBox__IfCurrentUser__TextBtn"       
              - else
                %strong
                  %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
      

          .Show-Main__box__right__relatedItems
            .Show-Main__box__right__relatedItems__text
              %p= link_to 'ベビー・キッズをもっと見る', "#", class: "RelatedItems__text__url" 
            .Show-Main__box__right__relatedItems__productLists
              .Show-Main__box__right__relatedItems__productLists__productList
                = link_to "#",class:"ProductList__url" do
                  .Show-Main__box__right__relatedItems__productLists__productList__img
                    = image_tag("Product.jpg", class:"ProductList_img")
                  .Show-Main__box__right__relatedItems__productLists__productList__body
                    .Show-Main__box__right__relatedItems__productLists__productList__body__name
                      %p ee
                    .Show-Main__box__right__relatedItems__productLists__productList__body__detail
                      .Show-Main__box__right__relatedItems__productLists__productList__body__detail__price
                        %p 1000円
                      .Show-Main__box__right__relatedItems__productLists__productList__body__detail__text
                        %p (税込)

= render 'Footer'